.service-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    flex-wrap: wrap;
    width: 700px;

}